body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    background-color: #af4c4c;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  main {
    padding: 2rem;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a04545;
  }
  
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #222;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  